<html ng-app="hovermole">
<head>
    <meta charset="UTF-8">
    <title>Whack-A-Mole</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="GameController">
    
<div class="view">
    <div class="scoreboard col-xs-12 col-sm-2">
        <h4>Total Score = {{points}}</h4>
   
        <h4>Timer = {{timer}}</h4>
    
    <button type="button" class="btn btn-md btn-default" ng-click="refresh()">Start</button>
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-md btn-default" ng-click="difficulty('Easy')">Easy</button>
        <button type="button" class="btn btn-md btn-default" ng-click="difficulty('Normal')">Hard</button>
        <button type="button" class="btn btn-md btn-default" ng-click="difficulty('Extreme')">Extreme</button>
    </div>  
</div>
 
 <div class="board col-xs-12 col-xs-5">
     <div class="winPage" ng-show="victory">
        <h2 id="score">{{points}} points</h2>
     </div>
     <div ng-hide="victory" ng-class="class" class="burrow col-sm-4" ng-repeat="burrow in burrows" ng-click="peekaboo(burrow)">
        <img src="{{burrow.source}}" alt="{{burrow.occupant}}" height="150">
     </div>
 </div>
</div>     
             
 
     <!--<audio id="winner" src="#" type="audio/mp3"></audio>-->
 
 
 <!--Load Angular-->
 <script src="bower_components/angular/angular.js"></script>
 <!--Load jQuery-->
 <script src="bower_components/jquery/dist/jquery.js"></script>
 <!--Bootstrap-->
 <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
 <!--Load app-->
 <script src="app/init.js"></script>
 <script src="app/components/game-controller.js"></script>
</body>
</html>