body{
    margin-top: 50px;
    background: paleturquoise;
}
.burrow{
    height: 150px;
    width: 150px;;
    margin: 5px;
    padding: 0px;
    /*border-radius: 5px;*/
}
.board{
    background-color: darkgreen;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 55px;
    padding-top: 15px;
    height: 513px;
    width: 600px;
}
img{
    border-radius: 5px;
}
.scoreboard{
    background-color: chartreuse;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    height: 513px;
    padding-top: 50px;
}
.winPage{
    background-image: url("/assets/img/winner.png");
    height: 500px;
    width: 480px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top:70px;
}
#score{
    padding-top: 150px;
}
.pointerEvent{
    pointer-events: none;
}
.view{
    width: 1500px;
    margin-left: 25%;
}
.title{
    margin-left: 25%;
}
button{
    margin-top:15px;
    margin-bottom: 15px
}