.burrow{
    height: 150px;
    width: 150px;;
    margin: 5px;
    padding: 0px;
    border: 1px solid black
}
.board{
    background-color: darkgreen;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 55px;
    padding-top: 15px;
    height: 513px;
    width: 600px;
    margin-top: 5%;
}
img{
    border-radius: 5px;
}
.scoreboard{
    background-color: #d8a321;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    height: 513px;
    width: 240px;
    padding-top: 50px;
    margin-left: 7.5%;
    margin-top: 5%;
}
.winPage{
    background-image: url("/assets/img/winner.png");
    height: 500px;
    width: 480px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top:70px;
}
#score{
    padding-top: 150px;
}
.pointerEvent{
    pointer-events: none;
}
.view{
    width: 1000px;
    height: 750px;
    margin: 5%;
    vertical-align: middle;
    background: #8B4700;
    border-radius: 10px;
}
.title{
    margin-left: 40%;
    padding-top: 10px;
    color: cornsilk;
}
button{
    margin-top:15px;
    margin-bottom: 15px;
    border: 1px solid #8B4700!important;
}